{% extends 'base.html' %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center p-4">
                <h5 class="mb-2">Original URL</h5>
                <p class="text-muted">{{ obj.original_url }}</p>

                <h6>Your Short URL</h6>
                <code>{{ obj.short_url }}</code>

                <a href="{{ obj.original_url }}"
                   class="btn btn-primary mt-4">
                    Go to Website
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
